html {
    background-color: #f2e6e6;
    
}

nav {
		display: flex;
		height: 50px;
		width: 100%;
		background-color: #aaaaaa;
		align-self: center;
                justify-content: center;
		margin: 10px 0 10px 0;
}

nav a, nav p {
    text-align: center;
    flex: 1;
    padding: 0 5px 0 5px;
}

nav a:hover {
    background-color: #8e8e8e;
}

nav a:active {
    background-color: #6d6d6d;
}

.spacer {
    flex: 10;
}

#masthead {
		align-self: center;
		background-color: #222222;
		width: 100%;
		padding: 10px 0 10px 0;
}


#masthead h1 {
    /*color: #992a1e;*/
    color: #ba2725;
    text-align: center;
    font-size: 55px;
}

.tables {
		flex: 1;
}

.tables, .tables tr, .tables td, .tables th {
		border: 1px double black;
}

.tables td, .tables th {
		text-align: center;
		padding: 5px 5px 5px 5px;
}
.bigtable {
    width: 80%;
    align-self: center;
}

.fullscreen {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #f2e6e6;
}

button {
    /*padding: 2px 2px 2px 2px;*/
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.redlink {
    background-color: #ba2725;
    text-align: center;
}

.redlinkbox {
    padding: 20px 30px 20px 30px;
    flex: 1;
}

.redlink:hover {
    background-color: #d8615f;
}

.redlink:active {
    background-color: #893232;
}

.flexbar {
    display: flex;
    margin: 10px 0 10px 0;
}

.tdlink {
    background-color: #ba2725;
    margin: 0;
    padding: 0;
}

.consoleform {
    flex: 2;
    display: flex;
} 
