<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>Mutual Assured Destruction</title>
                <link href="{{ url_for('.static', filename='css/base.css') }}" rel="stylesheet" type="text/css">
                {% block head %}{% endblock %}
	</head>
	<body>
		<div class="fullscreen">
			<div class=title>
                            <a href="{{ url_for('index') }}">
                                <div id="masthead">
					<h1>Mutual Assured Destruction</h1>
				</div>
                            </a>
                            <nav>
                                <a href="#"><p>About</p></a>
                                <div class="spacer"></div>
                                {% if g.user.is_authenticated %}
                                <p>Hello, {{ g.user.username }}</p>
                                <a href="{{ url_for('games') }}"><p>Games</p></a>
                                <a href="{{ url_for('logout') }}"><p>Logout</p></a>
                                {% else %}
                                <a href="{{ url_for('login') }}"><p>Log In</p></a>
                                <a href="{{ url_for('register') }}"><p>Register</p></a>
                                {% endif %}
                            </nav>
			</div>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <h2 class="error">{{ message }}</h2>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        {% if form %}
                        {% for error in form.errors.values() %}
                        <p class="error">{{ error }}</p>
                        {% endfor %}
                        {% endif %}
			{% block content %}{% endblock %}
		</div>
	</body>
</html>

