{% extends 'base.html' %}
{% macro render_console_form(player_table) %}
<table class="tables">
    {% for player, formfield in player_table %}
    <tr>
        <td>{{ player.name }}</td>
        <td>{{ formfield }}</td>
        <td>{% for error in formfield.errors %}
            {{ error }}
            <br />
            {% endfor %}
        </td>
    </tr> 
    {% endfor %}
</table>
{% endmacro %}
{% block head %}
<link href="{{ url_for('.static', filename="css/console.css") }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class=main>
    <div class="flexone">
        <h3>Stats</h3>
        <table class="tables">
            <tr>
                <td>Player Name</td>
                <td>{{ player.name }}</td> {# will be settable name #}
            </tr>
            <tr>
                <td>Power Type</td>
                <td>{{ player.type }}</td>
            </tr>
            <tr>
                <td>Attack Power</td>
                <td>{{ player.attackpower }}</td>
            </tr>
            <tr>
                <td>Shield Power</td>
                <td>{{ player.defensepower }}</td>
            </tr>
            <tr>
                <td>Special Abilities</td>
                <td>unimplemented</td> {# this will be a list of strings I think? #}
            </tr>
        </table>
    </div>
    <form class="consoleform" name="console_form" id="console_form" method="post" action="">
    {{ console_form.hidden_tag() }}
    <div class="flexone">
        {% if game.phase == "Attack" %}
        <h3>Targets</h3>
        {% elif game.phase == "Defense" %}
        <h3>Deploy Shields</h3>
        {% else %}
        <h3>Lorem Ipsum</h3>
        {% endif %}
        {{ render_console_form(player_table_target) }}
    </div>
    <div class="flexone">
        {% if game.phase == "Attack" %}
        <h3>Fire Missiles</h3>
        {{ render_console_form(player_table_fire) }}
        {% elif game.phase == "Defense" %}
        <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
        {% endif %}
    </div> 
</form>
</div>
<input type="submit" form="console_form" class="redlink redlinkbox" value="EXECUTE">
{% endblock %}
