{% extends 'base.html' %}
{% block content %}

<h2>Turn {{ game.turn }}</h2>
<h3>{{ game.phase }} Phase</h3>
{% if player_in_game and not player_in_game.committed and game.phase != "Preliminary" %}
<a class="redlink redlinkbox" href="{{ url_for('console', gameid = game.id) }}">Enter Console</a>
{% elif player_in_game and player_in_game.committed %}
<div class="graybox">Orders Committed</div>
{% endif %}
<table class="tables">
    {% for player in game.players %}
    <tr>
        <td>{{ player.name }}</td>
        <td>{{ player.destruction }}% Destroyed</td>
    </tr>
    {% endfor %}
</table>

{# int'l chat #}
{% endblock %}
