{% extends "base.html" %}
{% block head %}
<link href="{{ url_for('.static',filename='css/index.css')}}", rel="stylesheet", type="text/css">
{% endblock %}
{% block content %}
<div class="main">
	<div class="spectate">
		<h2>Spectate</h2>
                {% if not games %}
                <h3>No games running currently.</h3>
                {% else %}
		<table class="tables">
			<thead>
                            <tr>
                                <th>Game</th>
                                <th>Player Count</th>
                                <th>Turn</th>
                                <th>Destruction</th>
                            </tr>
			</thead>
			<tbody>
			<!--so this will be templated in but for now dummy rows-->
                        {% for game in games %}
                            <tr>
                                <td>Game {{ game.id}} </td>
                                <td>{{ game.players.__len__() }} Players</td>
                                <td>Turn {{ game.turn }}: {{ game.phase }} Phase</td>
                                <td>
                                    {% for player in game.players %}
                                    {{ player.name }}: {{ player.destruction }}% Destroyed<br />
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
			</tbody>
		</table>
                {% endif %}
                {#<button type="submit" class="newgame">New Game</button>#}
	</div>
	<div class="moreinfo">
		<h2>Welcome to Mutual Assured Destruction!</h2>
		<p>This is a turn-based game in which you play a powerful nation vying for dominance. Most nations have the ability to shoot missiles at each other as well as defend each other with shields. Some power types are better at offense, some are better at defense, and others have specialty in communications or intelligence. You'll need allies to win...unless you're not allowed to make any.</p>
		<h3>The Attack phase lasts from 6 AM Pacific to 6 PM Pacific. The Defense phase lasts from 6 PM Pacific to 6 AM Pacific. All games are currently in the (insert) Phase.</h3>
	</div>
</div>
{% endblock %}
