{% extends "base.html" %}
{% block head %}
<link href="{{ url_for('.static', filename='css/joingames.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
{% if g.user.username == "admin" %}
<div id="newgamebox">
    <a id="newgame" class="redlinkbox redlink" href="{{ url_for('newgame') }}">New Game</a>
</div>
{% endif %}
<table class="tables bigtable">
    <thead>
        <tr>
            <th>Game #</th>
            <th>Player Count</td>
            {#<th>Player Names</th>#}
            <th>Game Type</th>
            <th>Join</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <td>{{ game.id }}</td>
            <td>{{ game.players.__len__() }}</td>
            {#<td>{% if game.players %}
                {% for player in game.players %}
                {{ player.name }}
                {% endfor %}
                {% else %}
                None
                {% endif %}
            </td>#}
            <td>Beta</td>
            <td class="tdlink"><a class="redlink" href="{{ url_for('joingame', gameid = game.id) }}"><div class="tdlink">JOIN</div></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
