{% extends 'base.html' %}
{% block content %}
<form method="post" name="composemessage">
    {{ form.hidden_tag() }}
    Destinations: {{ form.dests }}
    Subject: {{ form.subject }} Blind: {{ form.blind }}<br><br>
    Body:<br>
    {{ form.body }}<br><br>
    <input class="redlink redlinkbox" type="submit" value="Send">
</form>
{# eventual link to outbox #}
{% for message in messages %}
<table class="tables messagetable">
    <tr class="messageheader">
        <td>From: {{ message.origin.name }}</td>
        <td>To: {% if not message.blind %}
            {% for dest in message.dests %}
            {{ dest.name }}<br />
            {% endfor %}
            {% else %}
            {{ player.name }}
            {% endif %}
        </td>
        <td>Subject: {{ message.subject }}</td>
    </tr>
    <tr class="message">
        <td colspan="3">
            {{ message.body }}
        </td>
    </tr>
</table>
{% endfor %}
<script type="text/javascript" src="{{ url_for('.static',filename='js/messages.js') }}"></script>
{% endblock %}

