<!--the good extensions haha yes-->
{% extends "base.html" %}
{% block content %}
<link href="{{ url_for('.static',filename='css/login.css') }}" rel="stylesheet" type="text/css"> 
<div id="loginbox">
    <h1>Register</h1>
    <form class="loginform" action="" method="post" name="login">
         {{ form.hidden_tag() }}
         {#{% for field in form %}
         {{ field.label }}: {{ field }} {% for error in field.errors %}{{error}}{% endfor %}
         {% endfor %}#}
         <p>
         Email: {{ form.email(size=30) }} {{ form.username.errors[0] }}<br>
         Username: {{ form.username(size=30) }} {{ form.username.errors[0] }}<br>
         Password: {{ form.password(size=30) }} {{ form.password.errors[0] }}<br>
         </p>
         <input type="submit" value="Register">
     </form>
 </div>
{% endblock %}
